*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.home {
    background-color:brown;
    min-height: 100vh;
    margin: 0;
}

.main-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 260px;
    margin-top: 30px;
}