*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.home {
    background-color:#f17362;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.main-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 270px;
    margin-top: 10px;
}
.container {
    display: flex;
    height: calc(100vh - 0px);
}


.left {
    flex:1;
    background-color: #faf9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.right {
    flex: 1;
    background-color:#c44939;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;
    padding: 40px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #c44939;
    font-size: 40px;
    line-height: 1.4;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: #f16350;
  color: #000000;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 999px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(243, 149, 112, 0.4); }
    70% { box-shadow: 0 0 0 15px rgba(255, 82, 125, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 82, 125, 0); }
}

.join-page {
    background-color: rgb(250, 198, 163);
    min-height: 100vh;
    margin: 0;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 95px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.important {
    font-weight: 700;
    font-size: 25px;
    font-family: "Outfit", sans-serif;
}

.container2 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 50px;
}

.box {
    flex: 1;
    background: rgb(216, 135, 81);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
}

.weeks {
    flex: 1;
    max-width: 600px;
    background-color:#faf9f9;
    padding: 40px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

h4{
    font-family: "Outfit", sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}

.button-weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


.btn2 {
    display: inline-block;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #c7834c;
    color: #000000;
    border-radius: 999px;
    cursor: pointer;
    padding: 10px 20px;  
    text-decoration: none; 
    transition: all 0.3s ease;
}

.btn2:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background-color: #d8925c;
}

.body-week1 {
    background:#EAD8C0;
}
.body-week2 {
    background: #A8BFA0;
}
.body-week3 {
    background: #D8A47F;
}
.body-week4 {
    background: #77a18c;
}

.space {
    margin-top: 20px;
}

.start{
    font-size: 25px;
    font-weight: 600;
}

.quiz-container {
  background-color: rgb(201, 118, 85);
  width: 500px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  margin: 40px auto;
  font-family: "Outfit", sans-serif;
}

.quiz-container h3 {
  margin-bottom: 30px;
}

#answers button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background-color: #cc4735;
  cursor: pointer;
  transition: 0.3s;
}

#answers button:hover {
  background-color: #d87f5a;
  transform: scale(1.03);
}

#next-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

