*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.home {
    background-color:rgb(243, 164, 170);
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.main-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 270px;
    margin-top: 30px;
}
.container {
    display: flex;
    height: calc(100vh - 0px);
}


.left {
    flex:1;
    background-color: #faf9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.right {
    flex: 1; 
    background-color: rgb(243, 164, 170);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 1.4;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.buttons {
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
  align-content: center;
}


.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 82, 125);
  color: #070505;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 999px;
  cursor: pointer;
}

