*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.home {
    background-color:#f17362;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.main-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 270px;
    margin-top: 10px;
}
.container {
    display: flex;
    height: calc(100vh - 0px);
}


.left {
    flex:1;
    background-color: #faf9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.right {
    flex: 1;
    background-color:#c44939;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;
    padding: 40px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #c44939;
    font-size: 40px;
    line-height: 1.4;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: #f16350;
  color: #000000;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 999px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(243, 149, 112, 0.4); }
    70% { box-shadow: 0 0 0 15px rgba(255, 82, 125, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 82, 125, 0); }
}

.join-page {
    background-color: rgb(250, 198, 163);
    min-height: 100vh;
    margin: 0;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 95px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.important {
    font-weight: 700;
    font-size: 25px;
}

.container2 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 50px;
}

.box {
    flex: 1;
    background: rgb(216, 135, 81);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
}

.weeks {
    flex: 1;
    max-width: 600px;
    background-color:#faf9f9;
    padding: 40px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}